DJANGO_ENV=production
SECRET_KEY=change-me-with-a-strong-random-key
ALLOWED_HOSTS=example.com,www.example.com

DB_ENGINE=postgresql
DB_NAME=tabriz_site
DB_USER=tabriz_user
DB_PASSWORD=change-me-strong-db-password
DB_HOST=db
DB_PORT=5432

REDIS_URL=redis://redis:6379/1

GUNICORN_WORKERS=2
GUNICORN_TIMEOUT=60

GOOGLE_SEARCH_CONSOLE_VERIFICATION=
SITE_DOMAIN=example.com
