DJANGO_ENV=development
SECRET_KEY=change-me
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# Database
# برای SQLite مقدار DB_ENGINE را sqlite بگذار یا خالی رها کن.
# برای PostgreSQL مقدار DB_ENGINE را postgresql قرار بده.
DB_ENGINE=sqlite
DB_NAME=tabriz_site
DB_USER=
DB_PASSWORD=
DB_HOST=127.0.0.1
DB_PORT=5432

# Redis / Cache optional
REDIS_URL=redis://127.0.0.1:6379/1

# Google Search Console
GOOGLE_SEARCH_CONSOLE_VERIFICATION=
EMAIL_BACKEND=
EMAIL_HOST=
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
DEFAULT_FROM_EMAIL=noreply@tabrizsite.local
LEAD_NOTIFY_EMAIL=
