{% load static %}
<article class="pcard">
  <a href="{{ project.get_absolute_url }}" class="pcard-media">
    {% if project.cover_image %}
    <img src="{{ project.cover_image.url }}" alt="{{ project.title }}" loading="lazy">
    {% else %}
    <div class="pcard-placeholder"><svg class="icon icon-xl"><use href="#i-image"></use></svg></div>
    {% endif %}
    <span class="pcard-cat">{{ project.category.title }}</span>
    <span class="pcard-view">مشاهده پروژه <svg class="icon icon-sm"><use href="#i-arrow-left"></use></svg></span>
  </a>
  <div class="pcard-body">
    <h3 class="pcard-title"><a href="{{ project.get_absolute_url }}">{{ project.title }}</a></h3>
    <p class="pcard-text">{{ project.summary|truncatewords:18 }}</p>
    <div class="pcard-meta">
      {% if project.industry %}<span class="pcard-tag">{{ project.industry }}</span>{% endif %}
      {% for tech in project.technologies.all|slice:":3" %}<span class="pcard-tag">{{ tech.title }}</span>{% endfor %}
    </div>
  </div>
</article>