{% load static %}
<article class="bcard">
  <a href="{{ post.get_absolute_url }}" class="bcard-media">
    {% if post.cover_image %}
    <img src="{{ post.cover_image.url }}" alt="{{ post.title }}" loading="lazy">
    {% else %}
    <div class="bcard-placeholder"><svg class="icon icon-xl"><use href="#i-article"></use></svg></div>
    {% endif %}
    <span class="bcard-cat">{{ post.category.title }}</span>
  </a>
  <div class="bcard-body">
    <div class="bcard-meta">
      {% if post.published_at %}<span>{{ post.published_at|date:"Y/m/d" }}</span>{% endif %}
      <span>{{ post.view_count }} بازدید</span>
    </div>
    <h3 class="bcard-title"><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h3>
    <p class="bcard-text">{{ post.excerpt|truncatewords:20 }}</p>
    <a href="{{ post.get_absolute_url }}" class="bcard-more">ادامه مطلب <svg class="icon icon-sm"><use href="#i-arrow-left"></use></svg></a>
  </div>
</article>